.footer {
  background-image: url(https://i.postimg.cc/h4NtLG8z/4578692.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
