@tailwind base;
@tailwind components;
@tailwind utilities;
a{
  text-decoration:  none !important;
}
/* shining box */
.shining-box {
    position: relative;
  
    background: linear-gradient(45deg, #f6f6f6, #88d2f8, #f6f6f6);

  }
  
  @keyframes shining {
    0% {
      background: linear-gradient(45deg, #88d2f8, #f6f6f6, #88d2f8);
    }
    50% {
      background: linear-gradient(90deg, #f6f6f6, #88d2f8, #f6f6f6);
    }
    100% {
      background: linear-gradient(45deg, #88d2f8, #f6f6f6, #88d2f8);
    }
  }
  
  .shining-box:hover {
    animation: shining 5s infinite linear;
  }
  

  /* scrollbar customaization */
  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #fcfcfc;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(116, 209, 255); 
    border-radius: 10px;
  }
  
 